doctype html
html
  head
    style.
      .container {
        width: 90%;
        height: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 4px;
      }
  body
    .container
      p Dear #{name},
      p Please click the following link, #{hashLink} to verify your email address. 
      p Should you encounter any problem, please contact us #{returnEmail}.